# Prevent git from modifying line endings in vendored sources
# (cargo checksums are sensitive to byte-exact content)
examples/proxy-wasm-filter/vendor/** -text

# Binary Wasm modules must not be modified
*.wasm binary
